.container .main_container{
    margin-top:50px;
}

.row {
    margin:10px;
}
.row.title{
    text-align:center;
    font-size:3em;
    color:#73879C;
    border-bottom:2px solid #E3E7EA;
}

.row .col-md-2 {
    height: 130px;
    text-align:center;
    border:1px solid white;
    border-right:solid 2px #73879C;
    cursor: pointer;
}

.row .col-md-2:hover{
    background-color:#EFEFEF;
    border: solid 1px #73879C;
}


.row .col-md-2 .what {
    font-size:1.8em;
    color:#73879C;
    
}

.row .col-md-2 .count {
    font-size:2em;
    color:#73879C;
    font-weight:bold;
}

#map {
    margin:auto;
    width:100%;
    height:400px;
}

.filter {
    font-size:0.8em;
}

.filter .f_what {
    color:#3498DB;
}

.filter .f_where {
    color:#73879C;
}

.filter .f_when {
    color:#E74B3C;
}
